.App {
  text-align: center;
}

.color-bg{
  color: #A1CCD1;
}
.thu{
  color: red;
}
.main-color{
  background-color: #27374D;
}
.color-sidebar{
  background-color: #1F6E8C;
}
.navbar-drop{
  /* display: none; */
}
.navbar:hover .navbar-drop {
  display: block;
}
.hover-but{
  background-color: #0E2954;
  color: #84A7A1;
}
.index-bg{
  background-color: #474c5383;
}
.but-active:hover{
color: #B31312;
transition: all 0.2s;
font-size: 17px;
}
.dropdown_img{
  display: flex;
  /* position: relative; */
}
.down_drop{
  position: relative;
  
}
.down_drop_name{
  position: absolute;
  display: none;
 top: 40px;
width: 300px;
right: -150px;
  font-size: 12px;
}
.down_drop:hover .down_drop_name{
  display: block;
  transition: all 0.2s linear;
  
}
